{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block body %}


    <div class="white-panel">
        <h1 >Liste des invitations</h1>

        <a href="{{ path('app_invitation_new') }}">Ajouter une nouvelle invitation</a>

        <div class="login-show">
            <table class = "login-reg-panel">
                <thead>
                <tr >
                    <th>Identifiant</th>
                    <th>Expéditeur</th>
                    <th>Receveur</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.id }}</td>
                        <td>{{ invitation.expediteur }}</td>
                        <td>{{ invitation.receveur }}</td>
                        <td>{{ invitation.statut ? 'Envoyé' : 'En attente' }}</td>
                        <td>
                            <a href="{{ path('app_invitation_show', {'id': invitation.id}) }}">Voir</a>
                            <a href="{{ path('app_invitation_edit', {'id': invitation.id}) }}">modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>





{% endblock %}
